body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}

.calculator {
    background-color: hotpink;
    width: max-content;
    border-radius: 5px;
    /* margin: auto; */
}

.display {
    background-color: rgb(187, 187, 255);
    height: 100px;
    font-size: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-text {

}

.operator {
    background-color: rgb(66, 66, 245);
    color: rgb(219, 219, 247);
}

.num-btn {
    background-color: rgba(176, 241, 156, 0.8);
    color:aliceblue;
}

button {
    width: 75px;
    height: 75px;
    font-size: 20px;
    margin: 10px;
}

#backspace {
    color: rgba(65, 241, 12, 0.973);
    font-size: 20px;
}

footer {
    color: white;
    /* background-color: green; */
    padding: 10px;
}

header {
    color: white;
    /* padding: 10px; */
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
}

a {
    color: white;
    font-weight: bold;
}

.right-links{
    display: flex;
    gap: 20px;
}

a {
    padding: 12px
}